---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Launches from './Launches.astro';
---

<Layout title="SpaceX Launches">
	<main>
		<Launches/>
	</main>
</Layout>
